:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255, 255, 255, 0.87);
    --bg: #242424;

    --hoverColor: #535bf2;
    --btnBg: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #213547;
    --bg: #ffffff;

    --hoverColor: #747bff;
    --btnBg: #f9f9f9;
  }
}

[data-theme="dark"] {
  --text: rgba(255, 255, 255, 0.87);
  --bg: #242424;
  --btnBg: #1a1a1a;
}

[data-theme="light"] {
  --text: #213547;
  --bg: #ffffff;
  --btnBg: #f9f9f9;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--hoverColor);
}

body {
  margin: 0;

  color: var(--text);
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--btnBg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
